{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Sign In{% endblock %}

{% block content %}
<main>
  <div class="container">

    <!--Section: Products v.3-->
    <section class="text-center mb-4">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <div class="col-md-6 mx-auto offset-3">
          <h1>Sign In</h1>

          <form class="login" method="POST" action="{% url 'core:login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                <input type="text" name="username" id="username" required class="form-control" placeholder="Username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
                <input type="password" name="password" id="password" required class="form-control"
                  placeholder="Password">
              </div>
            </div>
            <div class="form-group text-center">
              <input type="submit" value="Login" class="btn btn-info btn-sm mt-2">
              <p>Don't have an account? <a href="{% url 'core:register' %}">Register</a></p>
              <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
          </form>
        </div>
      </div>

    </section>

  </div>

</main>

{% endblock %}